/* Global DOM */
html,
body {
  background-color: #e3e3e3;
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
/* Global layout */
.site-wrapper {
  max-width: 1200px;

  .content {
    background-color: #ffffff;
    padding: 16px;
    position: relative;
    z-index: 0;
  }
}
/* Global components */
mat-divider {
  background-color: #c9c9c9;
}
