<!-- Masthead toolbar -->
<mat-toolbar class="masthead" fxLayout="row" fxLayoutAlign="center center">
  <!-- The site wrapper keeps the masthead and navigation centered -->
  <div class="site-wrapper" fxFlex>
    <div class="logo" fxFlex>
      <a href="{{ site.baseUrl }}">{{ site.title }}</a>
    </div>
    <!-- Show the social media links when the site is wide -->
    <dix fxHide.xs="true">
      <button mat-icon-button *ngFor="let account of socialMedia">
        <a [href]="account.url">
          <fa-icon class="fa-lg" [icon]="account.icon"></fa-icon>
        </a>
      </button>
    </dix>
    <!-- Show the mobile menu button if the site is narrow -->
    <div fxHide fxShow.xs="true">
      <button mat-icon-button (click)="mobileMenu()">
        <fa-icon class="fa-2x" [icon]="site.mobileMenu.icon"></fa-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
<!-- Navigation -->
<mat-toolbar
  class="navigation"
  fxLayout="row"
  fxLayoutAlign="center center"
  fxHide.xs="true"
>
  <nav class="site-wrapper" fxLayout="row" fxLayoutAlign="center center" fxFlex>
    <a routerLink="home" routerLinkActive="active">Home</a>
  </nav>
</mat-toolbar>
<!-- Mobile navigation -->
<div
  class="mobile-menu"
  fxLayout="column"
  fxHide
  fxShow.xs="true"
  *ngIf="site.mobileMenu.show"
  [@toggleMobileMenu]
>
  <div class="row" fxLayout="row" fxLayoutAlign="space-evenly center">
    <button mat-icon-button *ngFor="let account of socialMedia">
      <a [href]="account.url">
        <fa-icon class="fa-lg" [icon]="account.icon"></fa-icon>
      </a>
    </button>
  </div>
  <mat-divider></mat-divider>
  <div class="row" fxlayout="row">
    <nav fxLayout="column">
      <a routerLink="home" routerLinkActive="active" (click)="mobileMenu()">
        Home
      </a>
    </nav>
  </div>
</div>
