/* Header */
header {
  background-color: #1a1f2b;
  position: relative;

  a {
    color: #ffffff;
    text-decoration: none;
  }

  button {
    color: #ffffff;
  }

  .logo {
    font-size: 2.5em;
    font-weight: 100;
    padding-left: 8px;
  }

  .masthead {
    height: 80px;
  }

  /* Navigation */
  nav.menu {
    background-color: #f9f9f9;
    border-bottom: 1px solid #d9d9d9;
    height: 44px;

    a {
      color: #000000;
      font-size: 1rem;
      font-weight: 300;
    }

    .active {
      text-decoration: underline;
    }
  }

  /* Mobile navigation */
  nav.mobile-menu {
    background-color: #f9f9f9;
    border-bottom: 1px solid #d9d9d9;
    position: absolute;
    top: 80px;
    width: 100%;

    a {
      color: #000000;
    }

    button {
      color: #000000;
    }

    .active {
      border-bottom: 1px solid #1a1f2b;
    }

    .menu {
      border-top: 1px solid #d9d9d9;

      a {
        font-size: 1.25rem;
        font-weight: 300;
        padding: 16px;
      }
    }

    .social {
      padding: 4px 8px 4px 8px;
    }
  }
}
