/* Masthead */
.masthead {
  background-color: #2980b9;
  border-bottom: 1px solid #343131;
  position: relative;
  z-index: 100;
}
.logo {
  font-size: 2.5rem;
  font-weight: 200;
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
}
/* Navigation */
nav {
  a {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 300;
    padding: 0 16px 0 16px;

    .current {
      text-decoration: underline;
    }
  }
  a:hover {
    text-decoration: underline;
  }

  .active {
    text-decoration: underline;
  }

  mat-toolbar {
    background-color: #343131;
    height: 44px;
  }
}
/* Mobile Navigation */
.mobile-menu {
  background-color: #343131;
  border-bottom: 1px solid #c9c9c9;
  padding: 0 8px 0 8px;
  position: absolute;
  width: 100%;
  z-index: 90;

  a {
    color: #ffffff;
    padding: 8px;
  }

  .row {
    padding: 8px 0 8px 0;
  }
}
