.masthead {
  box-shadow: 0 -2px 4px 4px #000000;
  position: relative;
}
.logo {
  font-size: 2.5rem;
  font-weight: 100;
}
a {
  color: #ffffff;
  text-decoration: none;
}
a:visited {
  color: #ffffff;
}

nav {
  a {
    color: #000000;
    font-size: 1rem;
    padding: 0 16px 0 16px;

    .current {
      text-decoration: underline;
    }
  }
  a:hover {
    text-decoration: underline;
  }

  .active {
    text-decoration: underline;
  }

  mat-toolbar {
    height: 44px;
  }
}

.mobile-menu {
  background-color: #EDEDED;
  padding: 8px;

  a {
    color: #000000;
    font-size: 1rem;
    padding-top: 8px;
  }
}
