<!-- Masthead toolbar -->
<mat-toolbar
  class="masthead"
  color="primary"
  fxLayout="row"
  fxLayoutAlign="center center"
>
  <!-- The site wrapper keeps the masthead centered -->
  <div class="site-wrapper" fxFlex>
    <div fxFlex class="logo">
      <a href="{{ site.baseUrl }}">{{ site.title }}</a>
    </div>
    <!-- Social media links for wide site -->
    <dix fxHide.xs="true">
      <button mat-icon-button *ngFor="let account of socialMedia">
        <a [href]="account.url">
          <fa-icon class="fa-lg" [icon]="account.icon"></fa-icon>
        </a>
      </button>
    </dix>
    <!-- Show the mobile menu when the site is narrow -->
    <div fxHide fxShow.xs="true">
      <button mat-icon-button (click)="mobileMenu()">
        <fa-icon class="fa-2x" [icon]="site.mobileMenu.icon"></fa-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
<!-- Mobile menu for narrow site -->
<div
  class="mobile-menu"
  *ngIf="site.mobileMenu.show"
  [@toggleMobileMenu]
  fxHide
  fxShow.xs="true"
>
  <!-- The social media links move down here for the mobile menu -->
  <div dfxLayout="row" fxLayoutAlign="center center">
    <button mat-icon-button *ngFor="let account of socialMedia">
      <a [href]="account.url">
        <fa-icon class="fa-lg" [icon]="account.icon"></fa-icon>
      </a>
    </button>
  </div>
  <mat-divider></mat-divider>
  <nav fxLayout="column">
    <a routerLink="home" routerLinkActive="active" (click)="mobileMenu()">
      Home
    </a>
    <a routerLink="resume" routerLinkActive="active" (click)="mobileMenu()">
      Resume
    </a>
  </nav>
</div>
<!-- Navigation for the wide site -->
<nav>
  <mat-toolbar
    fxLayout="row"
    fxLayoutAlign="center center"
    fxHide.xs="true"
    color="secondary"
  >
    <div class="site-wrapper" fxLayoutAlign="center center" fxFlex>
      <a routerLink="home" routerLinkActive="active">Home</a>
      <a routerLink="resume" routerLinkActive="active">Resume</a>
    </div>
  </mat-toolbar>
</nav>
