.intro {
  font-size: 2rem;
  font-weight: 300;
  line-height: 2.25rem;
  padding: 0 8px 0 8px;

  .row {
    padding: 0 0 16px 0;
  }

  .hello {
    color: #2980b9;
    font-size: 5rem;
    font-weight: bold;
    padding: 32px 0 16px 0;
  }
  .name {
    color: #2980b9;
    display: inline;
    font-size: 2.5rem;
    font-weight: bold;
  }
  .bio {
    display: inline;
    font-size: 1.5rem;
  }
}
